<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meow.accountant.dao.AccountDAO">
    <insert id="insertAccount">
        insert into accounttb(typename, sImageId, beizhu, money, time, year, month, day, kind, userid)
        values (#{typename}, #{sImageId}, #{beizhu}, #{money}, #{time}, #{year}, #{month}, #{day}, #{kind}, #{userid})
    </insert>
    <insert id="insertBudget">
        delete
        from budget
        where userid = #{userid}
          and exists(select * from budget where userid = #{userid});
        insert into budget(userid, budget)
        VALUES (#{userid}, #{budget})
    </insert>
    <update id="updateItemFromAccounttbById">
        update accounttb
        <set>
            <if test="typename!=null">typename=#{typename},</if>
            <if test="sImageId!=null">sImageId=#{sImageId},</if>
            <if test="beizhu!=null">beizhu=#{beizhu},</if>
            <if test="money!=null">money=#{money},</if>
            <if test="time!=null">time=#{time},</if>
            <if test="year!=null">year=#{year},</if>
            <if test="month!=null">month=#{month},</if>
            <if test="day!=null">day =#{day},</if>
            <if test="kind!=null">kind=#{kind}</if>
        </set>
        where id =#{id} and userid=#{userid}
    </update>
    <delete id="deleteItemFromAccounttbById">
        delete
        from accounttb
        where id = #{id}
          and userid = #{userid}
    </delete>
    <delete id="deleteAllAccount">
        delete
        from accounttb
        where userid = #{userid}
    </delete>
    <select id="getAccountByDate" resultType="com.meow.accountant.entity.Account">
        select *
        from accounttb
        where year = #{year}
          and month = #{month}
          and day = #{day}
          and userid = #{userid}
        order by id desc
    </select>
    <select id="getAccountByMonth" resultType="com.meow.accountant.entity.Account">
        select *
        from accounttb
        where year = #{year}
          and month = #{month}
          and userid = #{userid}
        order by id desc
    </select>
    <select id="getSumMoneyOneDay" resultType="java.lang.Float">
        select sum(money) as summoney
        from accounttb
        where year = #{year}
          and month = #{month}
          and day = #{day}
          and kind = #{kind}
          and userid = #{userid}
    </select>
    <select id="getSumMoneyOneMonth" resultType="java.lang.Float">
        select sum(money)
        from accounttb
        where year = #{year}
          and month = #{month}
          and kind = #{kind}
          and userid = #{userid}
    </select>
    <select id="getCountItemOneMonth" resultType="java.lang.Integer">
        select count(money)
        from accounttb
        where year = #{year}
          and month = #{month}
          and kind = #{kind}
          and userid = #{userid}
    </select>
    <select id="getSumMoneyOneYear" resultType="java.lang.Float">
        select sum(money)
        from accounttb
        where year = #{year}
          and kind = #{kind}
          and userid = #{userid}
    </select>
    <select id="getYearListFromAccounttb" resultType="java.lang.Integer">
        select distinct(year)
        from accounttb
        where userid = #{userid}
        order by year asc
    </select>
    <select id="getResultFromAccounttb" resultType="com.meow.accountant.entity.ResultFromAccounttb">
        select typename, sImageId, sum(money) as total
        from accounttb
        where year = #{year}
          and month = #{month}
          and kind = #{kind}
          and userid = #{userid}
        group by typename, simageid
        order by total desc
    </select>
    <select id="getChartListFromAccounttb" resultType="com.meow.accountant.entity.ChartItem"/>
    <select id="getMaxMoneyOneDayInMonth" resultType="java.lang.Float">
        select sum(money)
        from accounttb
        where year = #{year}
          and month = #{month}
          and kind = #{kind}
          and userid = #{userid}
        group by day
        order by sum(money) desc
    </select>
    <select id="getSumMoneyOneDayInMonth" resultType="com.meow.accountant.entity.BarCharItem"/>
    <select id="getResultSumMoneyOneDayInMonth"
            resultType="com.meow.accountant.entity.ResultSumMoneyOneDayInMonth">
        select day, sum(money) as summoney
        from accounttb
        where year = #{year}
          and month = #{month}
          and kind = #{kind}
          and userid = #{userid}
        group by day
    </select>
    <select id="getAccountListByRemarkFromAccounttb" resultType="com.meow.accountant.entity.Account">
        select *
        from accounttb
        where beizhu like #{beizhu}
          and userid = #{userid}
    </select>
    <select id="getBudget" resultType="java.lang.Float">
        select budget
        from budget
        where userid = #{userid}
    </select>
    <select id="getAccountListByTypeFromAccounttb" resultType="com.meow.accountant.entity.Account">
        select *
        from accounttb
        where typename = #{type}
          and userid = #{userid}
    </select>
    <select id="getAccountByUserid" resultType="com.meow.accountant.entity.Account">
        select *
        from accounttb
        where userid = #{userid}
    </select>
</mapper>