<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meow.accountant.mapper.BudgetMapper">

    <resultMap id="BaseResultMap" type="com.meow.accountant.entity.Budget">
            <id property="userid" column="userid" jdbcType="VARCHAR"/>
            <result property="budget" column="budget" jdbcType="DOUBLE"/>
            <result property="timest" column="timest" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userid,budget,timest
    </sql>
    <insert id="insertAll">
        insert into budget
            (userid, budget)
        values (#{userid,jdbcType=VARCHAR}, #{budget,jdbcType=DECIMAL})

    </insert>
    <update id="updateSelective">
        update budget
        <set>
            <if test="budget != null">budget=#{budget,jdbcType=DECIMAL},</if>
        </set>
        where userid = #{userid,jdbcType=VARCHAR}
    </update>
    <select id="getIdExsits" resultType="java.lang.Integer">
        select count(*)
        from budget
        where userid = #{userid}
    </select>
</mapper>
