<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meow.accountant.dao.TypeDAO">
    <insert id="insertType">
        insert into typetb (typename, imageId, sImageId, kind)
        values (#{typename}, #{imageId}, #{sImageId}, #{kind})
    </insert><!--这个是dao接口的路径-->

    <!--id一定要和Dao 查询接口的命名一致 resultType是返回类型为实体类Pojo-->
    <select id="queryTypeList" resultType="com.meow.accountant.entity.Type">
        select *
        from typetb
    </select>
    <select id="getTypeByKind" resultType="com.meow.accountant.entity.Type">
        select *
        from typetb
        where kind = #{kind}
    </select>
</mapper>
